<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://github.com/GabrielaMoreira/agencia_turismo" target="_blank">
            Trabalho para a disciplina de Banco de Dados 2
          </a>
        </li>
      </ul>
    </nav>
    <nav class="float-right">
      <ul>
        <li>
          <a href="https://www.creative-tim.com" target="_blank">
            &copy; 2018, template by Creative Tim
          </a>.
        </li>
      </ul>
    </nav>
  </div>
</footer>
