<div class="sidebar" data-color="purple" data-background-color="white" data-image="<%= image_url('favicon.png') %>">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <img class="card-img" src="<%= image_url('favicon.png') %>">
    <a class="simple-text logo-normal">
      Turismo
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item ">
        <a class="nav-link" href="/clientes">
          <i class="material-icons">person</i>
          <p>Clientes</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/cidades">
          <i class="material-icons">map</i>
          <p>Cidades</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/pacotes">
          <i class="material-icons">directions_bus</i>
          <p>Pacotes</p>
        </a>
      </li>
    </ul>
  </div>
</div>
